body {
  background-color: black;
  color: white;
}

nav a {
  color: white !important;
}

.det-text {
  color: white;
}

.author {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cover {
  height: 42vh;
  object-fit: contain;
  padding-block: 0.5rem;
}
